# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Copy Word'
      'submenu': [
        { 'label': 'Copy Word', 'command': 'copy-word:copy-word' }
        { 'label': 'Cut Word', 'command': 'copy-word:cut-word' }
      ]
    ]
  }
]
