'.platform-darwin atom-pane.active > .item-views > atom-text-editor':
  'cmd-c': 'copy-word:copy-word'
  'cmd-x': 'copy-word:cut-word'

'.platform-linux atom-pane.active > .item-views > atom-text-editor':
  'ctrl-c': 'copy-word:copy-word'
  'ctrl-x': 'copy-word:cut-word'

'.platform-win32 atom-pane.active > .item-views > atom-text-editor':
  'ctrl-c': 'copy-word:copy-word'
  'ctrl-x': 'copy-word:cut-word'
